<script src="static/jquery.validate.js"></script>
<script src="static/eventForms.js"></script>

<div id="divFormEventNew">
	<form id="formEventNew" name="newEventForm" action="/calendar">
		<label></label>
		<input type="text" name="newEventTitle" placeholder="Event Title"><br>
		<input type="text" name="newStartDateTime" placeholder="2017-11-17T12:00:00"><br>
		<input type="text" name="newEndDateTime" placeholder="2017-11-17T12:00:00"><br>
		<select name="newStudyType">
			<option value="none">None</option>
			<option value="exam">Exam</option>
			<option value="quiz">Quiz</option>
			<option value="assignment">Assignment</option>
		</select><br>
		<input type="submit" value="Submit">
		<a href="#" onclick="cancelNewEventForm()">CANCEL</a>
	</form>
</div>

<style>
	#divFormEventNew {
		border: 2px;
		border-color: #0000FF;
		display: none;
		background-color: #FFFFFF;
		z-index: 2;
	}

	#formEventNew {
		position: absolute;
		right: 0px;
	}
</style>

<div id="divFormEventEdit">
	<form id="formEventEdit">
		<div class="inputText"></div>
		<div class="inputDateTime"></div>
		<div class="inputDateTime"></div>
		<div class="inputStudyType">
			<a>none</a>
			<a>exam</a>
			<a>assignment</a>
			<a>quiz</a>
		</div>
		<a href="#" onclick="">SUBMIT BUTTON</a>
	</form>
</div>

<style>
	#divFormEventEdit {
		display: none;
	}

	#formEventEdit {
	}
</style>

<div id="divButtonEventNew">
	<button id="buttonEventNew" onclick="buttonEventNew()">(<)</button>
</div>

<style>
	#divButtonEventNew {
	}

	#buttonEventNew {
	}
</style>

<script>

</script>

<!--
JS code for edit event after click

eventClick: function(event, element) {
	event.title = "CLICKED!";
	$('#calendar').fullCalendar('updateEvent', event);
}

-->