<script src="static/jquery.validate.js"></script>
<script src="static/eventForms.js"></script>

<div id="divFormEventNew">
	<form id="formEventNew" name="newEventForm" method="" action="">
		<label></label>
		<input type="hidden" name="UserID" value={{  session['userId'] }}>
        <input type="text" name="Title" placeholder="Event Title" pattern="[a-zA-Z0-9]+" required /><br>
		<input type="datetime-local" class="myCurrentDate" name="Start" required /><br>
		<input type="datetime-local" class="myCurrentDate" name="End" required /><br>
		<select name="EventType" id="ET">
			<option value="Study">Study</option>
            <option value="Quiz">Quiz</option>
			<option value="Exam">Exam</option>
			<option value="Assignment Due Date">Assignment Due Date</option>
		</select><br>
        <select name="StudyType" required>
			<option value="exam">Exam</option>
            <option value="quiz">Quiz</option>
            <option value="assignment">Assignment</option>
            <option value="N/A">N/A</option>
		</select><br>
		<select name="ImportanceRanking" id="IR">
			<option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
			<option value="4">4</option>
			<option value="N/A">N/A</option>
        </select><br>
		<input type="button" value="Study" name="study" onclick= "ifStudy()" />
		<input type="button" value="Finished" name="finished" onclick="postToDB(); message();" />
		<input type="button" value="Cancel" name="Cancel" onclick="cancelNewEventForm()" />
	</form>
	<script>
		form=document.getElementById("formEventNew");
		function postToDB() {
				form.method="POST";
				form.action="/request/events";
				form.submit();
		}
		function ifStudy() {
				form.method="GET";
				form.action="/study";
				form.submit();
		}		 
		function message() {
			var s = document.getElementById('IR');
			var IR = s.options[s.selectedIndex].value;
			var t = document.getElementById('ET');
			var ET = t.options[t.selectedIndex].value;

			if(IR == '1' && ET=='Exam' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '2' && ET == 'Exam' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '3' && ET == 'Exam' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '4' && ET == 'Exam' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '1' && ET == 'Quiz' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '2' && ET == 'Quiz' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '3' && ET == 'Quiz' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '4' && ET == 'Quiz' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '1' && ET == 'Assignment Due Date' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '2' && ET == 'Assignment Due Date' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '3' && ET == 'Assignment Due Date' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '4' && ET == 'Assignment Due Date' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
		}
	</script>
</div>

<style>
	#divFormEventNew {
		display: none;
		background-color: #FFFFFF;
		z-index: 3;
	}

	#formEventNew {
		border-style: solid;
		border-color: #0000FF;
		position: absolute;
		background-color: #FFFFFF;
		right: 0px;
		z-index: 3;
	}
</style>

<div id="divFormEventEdit">
	<form id="formEventEdit" name="editEventForm" method="" action="">
		<label></label>
		<input type="hidden" name="UserID" value={{  session['userId'] }}>
		<input type="hidden" id="eventToDelete" name="EventID">
        <input type="text" name="Title" placeholder="Event Title" pattern="[a-zA-Z0-9]+"><br>
		<input type="datetime-local" name="Start"><br>
		<input type="datetime-local" name="End"><br>
		<select name="EventType">
			<option value="Study">Study</option>
            <option value="Quiz">Quiz</option>
			<option value="Exam">Exam</option>
			<option value="Assignment Due Date">Assignment Due Date</option>
		</select><br>
        <select name="StudyType">
			<option value="exam">Exam</option>
            <option value="quiz">Quiz</option>
            <option value="assignment">Assignment</option>
            <option value="N/A">N/A</option>
		</select><br>
		<select name="ImportanceRanking">
			<option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
			<option value="4">4</option>
			<option value="N/A">N/A</option>
        </select><br>
		<input type="button" value="Study" name="study" onclick= "ifStudy()" />
		<input type="button" value="Finished" name="finished" onclick="postToDB(); message();" />
		<input type="button" value="Cancel" name="Cancel" onclick="cancelNewEventForm()" />
		<input type="button" value="Delete" name="Delete" onclick="deleteEvent()"></button>
	</form>
	<script>
		form=document.getElementById("formEventEdit");
		function postToDB() {
				form.method="POST";
				form.action="/request/events";
				form.submit();
		}
		function ifStudy() {
				form.method="GET";
				form.action="/study";
				form.submit();
		}		 
		function message() {
			var s = document.getElementById('IR');
			var IR = s.options[s.selectedIndex].value;
			var t = document.getElementById('ET');
			var ET = t.options[t.selectedIndex].value;

			if(IR == '1' && ET=='Exam' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '2' && ET == 'Exam' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '3' && ET == 'Exam' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '4' && ET == 'Exam' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '1' && ET == 'Quiz' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '2' && ET == 'Quiz' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '3' && ET == 'Quiz' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '4' && ET == 'Quiz' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '1' && ET == 'Assignment Due Date' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '2' && ET == 'Assignment Due Date' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			} else if(IR == '3' && ET == 'Assignment Due Date' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
			else if(IR == '4' && ET == 'Assignment Due Date' ) {
				alert("It is recommended that you plan study sessions totalling __ hours")
			}
		}
	</script>
		</div>
	</form>
</div>

<style>
	#divFormEventEdit {
		display: none;
	}

	#formEventEdit {
	}
</style>

<div id="divButtonEventNew">
	<button id="buttonEventNew" onclick="buttonEventNew()">(<)</button>
</div>

<style>
	#divButtonEventNew {
		position: relative;
		z-index: 2;
	}

	#buttonEventNew {
		position: absolute;
		right: 0px;
		z-index: 2;	
	}
</style>

<script>

</script>

<!--
JS code for edit event after click

eventClick: function(event, element) {
	event.title = "CLICKED!";
	$('#calendar').fullCalendar('updateEvent', event);
}

-->