<script src="static/jquery.validate.js"></script>
<script src="static/eventForms.js"></script>

<div id="divFormEventNew">
	<form id="formEventNew" name="newEventForm" method="post" action="/request/events">
		<label></label>
		<input type="hidden" name="UserID" value={{  session['userId'] }}>
        <input type="text" name="Title" placeholder="Event Title"><br>
		<input type="datetime-local" class="myCurrentDate" name="Start"><br>
		<input type="datetime-local" class="myCurrentDate" name="End"><br>
        <select name="StudyType">
			<option value="exam">Exam</option>
            <option value="quiz">Quiz</option>
            <option value="assignment">Assignment</option>
            <option value="other">Other</option>
        </select><br>
		<input type="submit" value="Submit">
		<a href="#" onclick="cancelNewEventForm()">CANCEL</a>
	</form>
</div>

<style>
	#divFormEventNew {
		display: none;
		background-color: #FFFFFF;
		z-index: 3;
	}

	#formEventNew {
		border-style: solid;
		border-color: #0000FF;
		position: absolute;
		background-color: #FFFFFF;
		right: 0px;
		z-index: 3;
	}
</style>

<div id="divFormEventEdit">
	<form id="formEventEdit" name="editEventForm" action="/calendar">
		<label></label>
		<input type="text" id="editTitle" name="title" placeholder="Event Title"><br>
		<input type="text" id="editStart" name="start" placeholder="2017-11-17T12:00:00"><br>
		<input type="text" id="editEnd"  name="end" placeholder="2017-11-17T12:00:00"><br>
		<select name="type">
			<option value="none">None</option>
			<option value="exam">Exam</option>
			<option value="quiz">Quiz</option>
			<option value="assignment">Assignment</option>
		</select><br>
		<input type="submit" value="Submit">
		<a href="#" onclick="hideEventEdit()">CANCEL</a>
		</div>
	</form>
</div>

<style>
	#divFormEventEdit {
		display: none;
	}

	#formEventEdit {
	}
</style>

<div id="divButtonEventNew">
	<button id="buttonEventNew" onclick="buttonEventNew()">(<)</button>
</div>

<style>
	#divButtonEventNew {
		position: relative;
		z-index: 2;
	}

	#buttonEventNew {
		position: absolute;
		right: 0px;
		z-index: 2;	
	}
</style>

<script>

</script>

<!--
JS code for edit event after click

eventClick: function(event, element) {
	event.title = "CLICKED!";
	$('#calendar').fullCalendar('updateEvent', event);
}

-->