
<!doctype HTML>
<html>
<head>
</head>
<script src="static/fullCalendar/lib/jquery.min.js"></script>
<script src="static/jquery.validate.js"></script>
<script src="static/registerForm.js"></script>
<body>
    {%  include 'flasher.html' %}
    <form id="registration" name="registration" action="/register" method="POST">
		<input type="email" name="email" placeholder="Email" required />
		<input type="FirstName" name="FirstName" placeholder="First Name" pattern="[a-zA-Z-\s]+" required />
		<input type="LastName" name="LastName" placeholder="Last Name" pattern="[a-zA-Z-\s]+" required />
		<input type="password" name="HashedPassword" required placeholder="password" pattern=".{6,}" required />
		<input id="password" type="password" name="confirmpassword" required placeholder="confirm password" pattern=".{6,}" required />
		<input type="submit" value="Log In">	
	</form>
</body>
</html>

