
<!doctype HTML>
<html>
<head>
</head>
<script src="static/formValidation.js"></script>
<body>
    {%  include 'flasher.html' %}
    {% if session['logged_in'] %}
	<p>You have successfully logged in!</p>
	<a href='/logout'>Logout</a>
	{% else %}
	<form name="registration" action="/login" method="POST">
		<input type="email" name="email" placeholder="Email">
		<input type="FirstName" name="FirstName" placeholder="First Name">
		<input type="LastName" name="FirstName" placeholder="Last Name">
		<input type="password" name="password" required placeholder="password">
		<input type="confirmpassword" name="confirmpassword" required placeholder="confirm password">
		<input type="submit" value="Log In">
		
	</form>
	{% endif %}
</body>
</html>

