{% extends "calendarDesign.html" %}
<!-- Full Calendar Imports -->
{% block head %}
<link rel="stylesheet" href="static/fullCalendar/fullcalendar.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<script src="static/fullCalendar/lib/moment.min.js"></script>
<script src="static/fullCalendar/lib/jquery.min.js"></script>
<script src="static/fullCalendar/lib/jquery-ui.min.js"></script>
<script src="static/fullCalendar/fullcalendar.min.js"></script>
<script src="static/kianCalendar.js"></script>
<script>
url = window.location.href
url = new URL(url)
eventID = url.searchParams.get('eventID')
function studyPlan(eventID, studyplan){
  var studyToAdd = {
    eventID: eventID,
    studyplan: studyplan
  }
};
</script>
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
<style>
    a {
        font-family: 'Open Sans', sans-serif;
    }
</style>
{% endblock %}

{% block content %}
<style>

input, textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;

  height: 5em;
}

</style>
<style type="text/css">
  button {
    background-color: #41aff4;
    width: 150px;
    margin-left: 160px;
    border: none;
    color: #F0F0F0;
    padding: .5em .5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    cursor:pointer;
  }
</style>
<nav id="menu" style="padding: 1em; background-color: #2b1d4f; display: flex; justify-content: space-between;">
    <style type = "text/css">
      .content a {
          background-color: #41aff4;
          width: 150px;
          border: none;
          color: #F0F0F0;
          padding: 0.5em 0.5em;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 1em;
          font-family: 'Open Sans', sans-serif;
          cursor:pointer;
      }
    </style>
    <div class="content">
        <a href="study">Study Plan</a>
    </div>
    <div class="content">
        <a href="https://drive.google.com/drive/folders/0B8WM6XnQ3RJ6RS1XUzNfLVNnQlU">Google Drive</a>
    </div>
    <div class="content">
        <a href="calendar">Cancel</a>
    </div>
</nav>    
<nav style="padding: 1em;">
</nav>
<style> 
  textarea {
      width: 50%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 100%;
      resize: none;
      font-family: 'Open Sans', sans-serif;
  }
  label {
    display: inline-block;
    font-size:small;
    margin-left:5px;
    width:150px;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }
</style>
<form action="request/events" method="POST"> 
  <input type="hidden" id="userID" name="UserID" value={{  session['userId'] }}>
  <input type="hidden" id="title" name="Title" placeholder="Event Title" pattern="[a-zA-Z0-9]+" value=""/><br>
  <input type="hidden" id="start" class="myCurrentDate" name="Start" value="" /><br>
  <input type="hidden" id="end" class="myCurrentDate" name="End" value="" /><br>
  <input type="hidden" name="EventType" id="ET" value="">
  <input type="hidden" id="studyType" name="StudyType" value=""/>
  <input type="hidden" name="ImportanceRanking" id="IR" value=""/>
  <script type="text/javascript">
    var user = document.getElementById("userID");
    user.value = getParameterByName("UserID",window.location)
    var ttl = document.getElementById("title");
    ttl.value = getParameterByName("Title",window.location)
    var startTime = document.getElementById("start");
    startTime.value = getParameterByName("Start",window.location)
    var endTime = document.getElementById("end");
    endTime.value = getParameterByName("End",window.location)
    var eventType = document.getElementById("ET");
    eventType.value = getParameterByName("EventType",window.location)
    var study = document.getElementById("studyType");
    study.value = getParameterByName("StudyType",window.location)
    var importanceRanking = document.getElementById("IR");
    importanceRanking.value = getParameterByName("ImportanceRanking",window.location)
   </script>
  <div>
    <label>Study Goals</label>
    <textarea type="text" name="StudyPlan" placeholder="Enter goals here..."></textarea>
  </div>
  <!-- <div>
    <label>Event ID</label>
    <textarea type="text" name="eventID" placeholder="Enter Event ID Here..."></textarea>
  </div> -->
  <div class="button">
    <button type="submit">
    Done
    </button> 
  </div>
</form>
{% endblock %}