<!doctype HTML>
<html>
<head>
</head>
<script src="static/sessionControl.js"></script>
<body>
    <!-- WelcomePage Dont remove this line. needed for testing-->
    {%  include 'flasher.html' %}
    {% if session['logged_in'] %}
	<p>You have successfully logged in!</p>
	<a href='/logout'>Logout</a>
	{% else %}
	<div id="loginForm" style="margin: auto; width: 50%;">
		<h1>Log in using your email!</h1>
	    <form action="/login" method="POST">
			<input type="email" name="email" placeholder="Email" required style="margin: 1em; padding: 1em;"/><br>
			<input type="password" name="password" required  style="margin: 1em; padding: 1em;"/><br>
			<input type="submit" value="Log In" style="margin: 1em; padding: 1em;">
			<a href="/register" class="button" style="margin: 1em; padding: 1em;">Sign Up</a>
		</form>
	</div>
	{% endif %}
</body>
</html>
