<!doctype HTML>
<html>
<head>
</head>
<script src="static/sessionControl.js"></script>
<body>
    <!-- WelcomePage Dont remove this line. needed for testing-->
    {%  include 'flasher.html' %}
    {% if session['logged_in'] %}
	<p>You have successfully logged in!</p>
	<a href='/logout'>Logout</a>
	{% else %}
	<a href="/register">Sign Up</a>
    <form action="/login" method="POST">
		<input type="email" name="email" placeholder="Email">
		<input type="password" name="password" required>
		<input type="submit" value="Log In">
	</form>
	{% endif %}
</body>
</html>
